body, html{
	margin:0;
	padding:0;
	width: 100%;
	overflow: hidden;
}
body {
	font: 14px "Century Gothic", Futura, sans-serif;
	--blue-button: #3777c7;
	--blue-shadow: #275797;
	--blue-highlight: #6797c7;
	--blue-light: #d7e7f7;
	--blue-grey: #373757;
	--blue-dark: #171747;
	--green-light: #d7f7e7;
	--green-grey: #97B797;
	--green-dark: #174717;
	--white: #f7f7f7;
	--red-button: rgb(199,55,55);
	--red-button-glow: rgba(255,111,111,.5);
	--red-shadow: #672727;
	--red-highlight: #e78787;
	--grey: #373737;
	--blue-grey-light: #c7cee7;
	--disabled-highlight: #676767;
	--disabled-light: #c7c7c7;
	--small-label-size: 12px;
	--yellow-highlight: #c7c767;
	--yellow-light: #f7f7d7;
	--space-border: rgba(222,255,255,.3);
	--midtone1: #79bd9a;
	--midtone2: #a8dba8;
	--highlight: #cff09e;
	--dark: #3b8686;
	--darker: #1b6666;
}
.status {
  margin-bottom: 10px;
}
a.anchor:hover {
	text-decoration: underline !important;
}
.status.row label {
	min-width: 3rem;
}
.kbd-navigation .cell:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.hidden {
  
 display: none;  
}

.pattern-bg {
	background-color: var(--blue-grey-light);
}

.disabled span {
	color: #676767;
}
div.contextMenu-wrapper a {
	position: relative;
	background-image: url(img/see-more-vertical.svg);
	background-repeat: no-repeat;
	background-size: 75%;
	-webkit-appearance: none;
	border-radius: 3rem;
	background-position: center 75%;
	background-color: transparent;
	cursor: pointer;
	outline: none !important;
	height: 24px;
	width: 18px;
	display: inline-block;
}
div.contextMenu-wrapper select {
	position: absolute;
	z-index: 5;
	overflow: auto;
	cursor: pointer;
}
div.contextMenu-wrapper select option:hover {
	color: white;
	background-color: blue;
}
div.contextMenu-wrapper:not(.open) select {
	display: none;
	position: absolute;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	 -khtml-user-select: none; /* Konqueror HTML */
	   -moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
			user-select: none; /* Non-prefixed version, currently
								  supported by Chrome and Opera */
}
a:not([href]):not([tabindex]){
	color: blue;
	text-decoration: underline;
}

a.anchor {
	color: blue;
	cursor: pointer;
}
a.button {
	color: black;
	text-decoration: none;
	cursor: pointer;
	padding: .5rem 1rem;
	background: #ccc;
	text-align: center;
	border-radius: .5rem;
	max-width: 8rem;
	display: block;
	position: relative;
	transition: all .25s;
	box-shadow: -3px 9px 14px rgba(0, 0, 0, 0.15); 
	-webkit-box-shadow: -3px 9px 14px rgba(0, 0, 0, 0.15); 
	-moz-box-shadow: -3px 9px 14px rgba(0, 0, 0, 0.15); 
	}
a.button:hover {
	color: white;
	box-shadow: -4px 8px 14px rgba(0, 0, 0, 0.25); 
	-webkit-box-shadow: -4px 8px 14px rgba(0, 0, 0, 0.25); 
	-moz-box-shadow: -4px 8px 14px rgba(0, 0, 0, 0.25); 
	transition: all .25s;
}
a.button:active {
	top: 1px;
	left: -1px;
	transition: all .25s;
	box-shadow: -1px 7px 12px rgba(0, 0, 0, 0.2); 
	-webkit-box-shadow: -1px 7px 12px rgba(0, 0, 0, 0.2); 
	-moz-box-shadow: -1px 7px 12px rgba(0, 0, 0, 0.2); 
}
.no-underline {
	text-decoration: none !important;
}
.underline {
	text-decoration: underline !important;
}
.text-white {
	color: white !important;
}
.dropZone {
	height: 72px;
	width: 100%;
	background-color: var(--green-grey);
	border: 2px dashed var(--green-light);
/*	border-radius: 50%;*/
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 12px;
}
.dropZone .icon {
	opacity: 0.3;
	height: 48px;
	width: 64px;
	position: relative;
	top: -3px;
	margin-bottom: -5px;
}
.dropZone.waveform .icon {
	opacity: 1;
}
.dropZone .fileInput {
	display: none;
}
.dropZone.highlight,
.dropZone:hover {
	background-color: var(--green-light);
	border: 2px dashed  var(--green-dark);
}

.navigation.row {
	background: var(--darker);
	color: white;
}
.modal-wrapper {
	position: absolute;
	display: block;
	width: 55%;
	background: white;
	height: 80%;
	z-index: 3;
	margin: 0px 15%;
	border-radius: 1rem;
	border: 1px solid #333;
	opacity: 0;
	transition: all .35s;
	pointer-events: none;
}
.modal-container.open .modal-wrapper {
	transition: all .35s;
	opacity: 1;
	pointer-events: auto;
}
.text-black {
	color: #333;
}
.modal-container {
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transition: all .35s;
}
.modal-overlay {
	opacity: 0;
	pointer-events: none;
	z-index: 2;
	background-color: rgba(0,0,0,.66);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.modal-container.open {
	transition: all .35s;
	pointer-events: auto;
}
.modal-container.open .modal-overlay {
	opacity: 1;
	pointer-events: auto;
}

.gameSpace {
	height: 3.5rem;
	background: var(--midtone1);
	border: 1px dashed var(--space-border);
}
.gameSpace-wrapper {
	height: 3.5rem;
	padding: 0;
	margin: 0;
	display: inline-block;
	overflow: hidden;
}
.gameSpace-wrapper.no-drop {
	cursor: no-drop;
}
.gameSpace-wrapper .gameSpace-overlay {
	width: 100%;
	height: 100%;
	background-color: transparent;
	position: absolute;
	top: 0;
	left: 0;
	opacity: .3;
	pointer-events: none;
	z-index: 1;
}
.gameSpace-wrapper.droppable .gameSpace-overlay {
	background-color: lime;
}
.gameSpace-wrapper.drop-target .gameSpace-overlay {
	background-color: white;
}
.gameSpace-wrapper.no-drop .gameSpace-overlay {
	background-color: black;
}
.selectedSpace .gameSpace-overlay {
	background-color: white;
}
.tileRack {
	height: 100%;
	background: var(--dark);
}
.terrain-grass1 {
	background-position-x: -2px;
	background-position-y: -2px;
	height: 50px;
	width: 50px;
	background-image: url('/img/rpg-tiles.jpg');
}
.terrain-grass2 {
	background-position-x: -2px;
	background-position-y: -48px;
	height: 50px;
	width: 50px;
	background-image: url('/img/rpg-tiles.jpg');
}
.terrain-grass3 {
	background-position-x: -21px;
	background-position-y: -48px;
	height: 50px;
	width: 50px;
	background-image: url('/img/rpg-tiles.jpg');
}
.terrain-grass4 {
	background-position-x: -21px;
	background-position-y: -2px;
	height: 50px;
	width: 50px;
	background-image: url('/img/rpg-tiles.jpg');
}
.terrain-water {
	background-position-x: -455px;
	background-position-y: -331px;
	height: 50px;
	width: 50px;
	background-image: url('/img/rpg-tiles.jpg');
}

/* Game piece and tile faces */
.gamePiece,
.tileFace {
	width: 40px;
	height: 50px;
	display: block;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
}
.tileFace {
	background-position-x: -2px;
}
.tileFace {
	background-image: url('/img/stratego-pieces.png');
}
.gamePiece {
	background-image: url('/img/stratego-piece-red.svg');
	background-size: contain;
}
.gamePiece.blue {
	background-image: url('/img/stratego-piece-blue.svg');
}
.tileFace {
	left: -1px;
	top: 1px;
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
}
.gamePiece {
	left: 5px;
	position: relative;
}
.tileFace.rank-B {
	background-image: url('/img/facebomb.png');
}
.tileFace.rank-9 {
	background-image: url('/img/face9.png');
}
.tileFace.rank-8 {
	background-image: url('/img/face8.png');
}
.tileFace.rank-7 {
	background-image: url('/img/face7.png');
}
.tileFace.rank-6 {
	background-image: url('/img/face6.png');
}
.tileFace.rank-5 {
	background-image: url('/img/face5.png');
}
.tileFace.rank-4 {
	background-image: url('/img/face4.png');
}
.tileFace.rank-3 {
	background-image: url('/img/face3.png');
}
.tileFace.rank-2 {
	background-image: url('/img/face2.png');
}
.tileFace.rank-1 {
	background-image: url('/img/face1.png');
}
.tileFace.rank-S {
	background-image: url('/img/facespy.png');
}
.tileFace.rank-F {
	background-image: url('/img/faceflag.png');
}

.link-list {
	list-style-type: none;
	display: inline-block;
}
.link-list li {
	display: inline-block;
}
.link-list li:after {
	content: ", ";
	display: inline-block;
	margin-right: .5em;
}
.link-list li:last-child:after {
    content: "";
	display: none;
}

.text-red {
	color: red;
}
.text-blue {
	color: blue;
}
.player-red .piece-blue, .player-blue .piece-red {
	cursor: not-allowed !important;
}
.player-red .piece-red, .player-blue .piece-blue {
	cursor: move;
}
.turn-red .piece-blue, .turn-blue .piece-red {
	cursor: not-allowed !important;
}
.turn-red .piece-red, .turn-blue .piece-blue {
	cursor: move;
}

.player-red .text-opponent-color {
	color: blue !important;
}

.player-blue .text-opponent-color {
	color: red !important;
}

.suggestions .suggestion-active {
	background: #88BBCE;
}

div.captured-tiles label {
	position: relative;
	font-size: .85rem;
	top: -1rem;
	left: 0rem;
}

.tileRack-col {
	height: 10rem;
}

@media (min-width: 576px) {
	.xl-only {
		display: none !important;
	}
}
@media (min-width: 768px) {
	.sm-down {
		display: none !important;
	}
	.tileRack-col {
		height: 27rem;
	}
	#placementMode {
		height: 8rem;
	}
}
@media (min-width: 992px) {
	.md-down {
		display: none !important;
	}
} 
@media (min-width: 1200px) {
	.lg-down {
		display: none !important;
	}
}
@media (min-width: 1800px) {
	.xl-down {
		display: none !important;
	}
} 
@media (max-width: 575px) {
	.sm-up {
		display: none !important;
	}
}
@media (max-width: 767px) {
	.md-up {
		display: none !important;
	}
}
@media (max-width: 991px) {
	.lg-up {
		display: none !important;
	}
}
@media (max-width: 1199px) {
	.xl-up {
		display: none !important;
	}
}
@media (max-width: 1799px) {
	.hd-only {
		display: none !important;
	}
}

@media (max-width: 320px) {
	.gameSpace-wrapper, .gameSpace {
		height: 2rem;
	}
	.gamePiece,
	.tileFace {
		width: 2rem;
		height: 2rem;
	}
	.gameBoard .gamePiece {
		left: -.67rem;
	}
}

@media (max-width: 480px) {
	.gameSpace-wrapper, .gameSpace {
		height: 2.5rem;
	}
	.gamePiece,
	.tileFace {
		width: 2.5rem;
		height: 2.5rem;
	}
	.gameBoard .gamePiece {
		left: -.33rem;
	}
}

/* The optionIndicator */
.optionIndicator ul li {
	list-style-type: none;
	break-inside: avoid;
  display: inline-block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default radio button */
.optionIndicator ul li label input {
  position: absolute;
  opacity: 0;
}
.optionIndicator ul li label {
  font-size: .8rem;
}
/* Create a custom radio button */
.optionIndicator ul li label .checkmark {
  position: absolute;
  top: 0;
  left: calc(50% - 4px);
  height: 8px;
  width: 8px;
  background-color: #6a6a6a;
  border-radius: 50%;
}
.optionIndicator ul.vertical li label .checkmark {
	left: auto;
	right: auto;
	text-align: center;
	margin-left: -1rem;
}
.optionIndicator ul.vertical li {
	margin-left: 0rem !important;
	margin-right: 0rem !important;
	width: 100%;
}
/* When the radio button is checked, add a blue background */
.optionIndicator ul li label input:checked ~ .checkmark {
	background-color: var(--disabled-light);
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.optionIndicator ul li label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the indicator (dot/circle) when checked */
.optionIndicator ul li label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.optionIndicator ul li label .checkmark:after {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: var(--disabled-light);
}

.app-wrapper {
	height: 100%
}