
.gamePiece-wrapper.down-1.piece-moving-appear {
    transform: translate(0px,calc(-1 * var(--square-size-default)));
    transition: transform 1s;
}
.gamePiece-wrapper.down-2.piece-moving-appear {
    transform: translate(0px,calc(-2 * var(--square-size-default)));
    transition: transform 1s;
}
.gamePiece-wrapper.down-3.piece-moving-appear {
    transform: translate(0px,calc(-3 * var(--square-size-default)));
    transition: transform 1s;
}
.gamePiece-wrapper.down-4.piece-moving-appear {
    transform: translate(0px,calc(-4 * var(--square-size-default)));
    transition: transform 1s;
}
.gamePiece-wrapper.down-5.piece-moving-appear {
    transform: translate(0px,calc(-5 * var(--square-size-default)));
    transition: transform 1s;
}
.gamePiece-wrapper.down-6.piece-moving-appear {
    transform: translate(0px,calc(-6 * var(--square-size-default)));
    transition: transform 1s;
}
.gamePiece-wrapper.down-7.piece-moving-appear {
    transform: translate(0px,calc(-7 * var(--square-size-default)));
    transition: transform 1s;
}
.gamePiece-wrapper.down-8.piece-moving-appear {
    transform: translate(0px,calc(-8 * var(--square-size-default)));
    transition: transform 1s;
}
.gamePiece-wrapper.down-9.piece-moving-appear {
    transform: translate(0px,calc(-9 * var(--square-size-default)));
    transition: transform 1s;
}
.gamePiece-wrapper.up-1.piece-moving-appear {
    transform: translate(0px,calc(1 * var(--square-size-default)));
    transition: transform 1s;
}
.gamePiece-wrapper.up-2.piece-moving-appear {
    transform: translate(0px,calc(2 * var(--square-size-default)));
    transition: transform 1s;
}
.gamePiece-wrapper.up-3.piece-moving-appear {
    transform: translate(0px,calc(3 * var(--square-size-default)));
    transition: transform 1s;
}
.gamePiece-wrapper.up-4.piece-moving-appear {
    transform: translate(0px,calc(4 * var(--square-size-default)));
    transition: transform 1s;
}
.gamePiece-wrapper.up-5.piece-moving-appear {
    transform: translate(0px,calc(5 * var(--square-size-default)));
    transition: transform 1s;
}
.gamePiece-wrapper.up-6.piece-moving-appear {
    transform: translate(0px,calc(6 * var(--square-size-default)));
    transition: transform 1s;
}
.gamePiece-wrapper.up-7.piece-moving-appear {
    transform: translate(0px,calc(7 * var(--square-size-default)));
    transition: transform 1s;
}
.gamePiece-wrapper.up-8.piece-moving-appear {
    transform: translate(0px,calc(8 * var(--square-size-default)));
    transition: transform 1s;
}
.gamePiece-wrapper.up-9.piece-moving-appear {
    transform: translate(0px,calc(9 * var(--square-size-default)));
    transition: transform 1s;
}
.gamePiece-wrapper.right-1.piece-moving-appear {
    transform: translate(calc(-1 * var(--square-size-default)),0px);
    transition: transform 1s;
}
.gamePiece-wrapper.right-2.piece-moving-appear {
    transform: translate(calc(-2 * var(--square-size-default)),0px);
    transition: transform 1s;
}
.gamePiece-wrapper.right-3.piece-moving-appear {
    transform: translate(calc(-3 * var(--square-size-default)),0px);
    transition: transform 1s;
}
.gamePiece-wrapper.right-4.piece-moving-appear {
    transform: translate(calc(-4 * var(--square-size-default)),0px);
    transition: transform 1s;
}
.gamePiece-wrapper.right-5.piece-moving-appear {
    transform: translate(calc(-5 * var(--square-size-default)),0px);
    transition: transform 1s;
}
.gamePiece-wrapper.right-6.piece-moving-appear {
    transform: translate(calc(-6 * var(--square-size-default)),0px);
    transition: transform 1s;
}
.gamePiece-wrapper.right-7.piece-moving-appear {
    transform: translate(calc(-7 * var(--square-size-default)),0px);
    transition: transform 1s;
}
.gamePiece-wrapper.right-8.piece-moving-appear {
    transform: translate(calc(-8 * var(--square-size-default)),0px);
    transition: transform 1s;
}
.gamePiece-wrapper.right-9.piece-moving-appear {
    transform: translate(calc(-9 * var(--square-size-default)),0px);
    transition: transform 1s;
}
.gamePiece-wrapper.left-1.piece-moving-appear {
    transform: translate(calc(1 * var(--square-size-default)),0px);
    transition: transform 1s;
}
.gamePiece-wrapper.left-2.piece-moving-appear {
    transform: translate(calc(2 * var(--square-size-default)),0px);
    transition: transform 1s;
}
.gamePiece-wrapper.left-3.piece-moving-appear {
    transform: translate(calc(3 * var(--square-size-default)),0px);
    transition: transform 1s;
}
.gamePiece-wrapper.left-4.piece-moving-appear {
    transform: translate(calc(4 * var(--square-size-default)),0px);
    transition: transform 1s;
}
.gamePiece-wrapper.left-5.piece-moving-appear {
    transform: translate(calc(5 * var(--square-size-default)),0px);
    transition: transform 1s;
}
.gamePiece-wrapper.left-6.piece-moving-appear {
    transform: translate(calc(6 * var(--square-size-default)),0px);
    transition: transform 1s;
}
.gamePiece-wrapper.left-7.piece-moving-appear {
    transform: translate(calc(7 * var(--square-size-default)),0px);
    transition: transform 1s;
}
.gamePiece-wrapper.left-8.piece-moving-appear {
    transform: translate(calc(8 * var(--square-size-default)),0px);
    transition: transform 1s;
}
.gamePiece-wrapper.left-9.piece-moving-appear {
    transform: translate(calc(9 * var(--square-size-default)),0px);
    transition: transform 1s;
}
@media (max-width:991px) and (min-width:768px) {
	.gamePiece-wrapper.down-1.piece-moving-appear {
	    transform: translate(0px,calc(-1 * var(--square-size-tablet)));
	    transition: transform 1s;
	}
	.gamePiece-wrapper.down-2.piece-moving-appear {
	    transform: translate(0px,calc(-2 * var(--square-size-tablet)));
	    transition: transform 1s;
	}
	.gamePiece-wrapper.down-3.piece-moving-appear {
	    transform: translate(0px,calc(-3 * var(--square-size-tablet)));
	    transition: transform 1s;
	}
	.gamePiece-wrapper.down-4.piece-moving-appear {
	    transform: translate(0px,calc(-4 * var(--square-size-tablet)));
	    transition: transform 1s;
	}
	.gamePiece-wrapper.down-5.piece-moving-appear {
	    transform: translate(0px,calc(-5 * var(--square-size-tablet)));
	    transition: transform 1s;
	}
	.gamePiece-wrapper.down-6.piece-moving-appear {
	    transform: translate(0px,calc(-6 * var(--square-size-tablet)));
	    transition: transform 1s;
	}
	.gamePiece-wrapper.down-7.piece-moving-appear {
	    transform: translate(0px,calc(-7 * var(--square-size-tablet)));
	    transition: transform 1s;
	}
	.gamePiece-wrapper.down-8.piece-moving-appear {
	    transform: translate(0px,calc(-8 * var(--square-size-tablet)));
	    transition: transform 1s;
	}
	.gamePiece-wrapper.down-9.piece-moving-appear {
	    transform: translate(0px,calc(-9 * var(--square-size-tablet)));
	    transition: transform 1s;
	}
	.gamePiece-wrapper.up-1.piece-moving-appear {
	    transform: translate(0px,calc(1 * var(--square-size-tablet)));
	    transition: transform 1s;
	}
	.gamePiece-wrapper.up-2.piece-moving-appear {
	    transform: translate(0px,calc(2 * var(--square-size-tablet)));
	    transition: transform 1s;
	}
	.gamePiece-wrapper.up-3.piece-moving-appear {
	    transform: translate(0px,calc(3 * var(--square-size-tablet)));
	    transition: transform 1s;
	}
	.gamePiece-wrapper.up-4.piece-moving-appear {
	    transform: translate(0px,calc(4 * var(--square-size-tablet)));
	    transition: transform 1s;
	}
	.gamePiece-wrapper.up-5.piece-moving-appear {
	    transform: translate(0px,calc(5 * var(--square-size-tablet)));
	    transition: transform 1s;
	}
	.gamePiece-wrapper.up-6.piece-moving-appear {
	    transform: translate(0px,calc(6 * var(--square-size-tablet)));
	    transition: transform 1s;
	}
	.gamePiece-wrapper.up-7.piece-moving-appear {
	    transform: translate(0px,calc(7 * var(--square-size-tablet)));
	    transition: transform 1s;
	}
	.gamePiece-wrapper.up-8.piece-moving-appear {
	    transform: translate(0px,calc(8 * var(--square-size-tablet)));
	    transition: transform 1s;
	}
	.gamePiece-wrapper.up-9.piece-moving-appear {
	    transform: translate(0px,calc(9 * var(--square-size-tablet)));
	    transition: transform 1s;
	}
	.gamePiece-wrapper.right-1.piece-moving-appear {
	    transform: translate(calc(-1 * var(--square-size-tablet)),0px);
	    transition: transform 1s;
	}
	.gamePiece-wrapper.right-2.piece-moving-appear {
	    transform: translate(calc(-2 * var(--square-size-tablet)),0px);
	    transition: transform 1s;
	}
	.gamePiece-wrapper.right-3.piece-moving-appear {
	    transform: translate(calc(-3 * var(--square-size-tablet)),0px);
	    transition: transform 1s;
	}
	.gamePiece-wrapper.right-4.piece-moving-appear {
	    transform: translate(calc(-4 * var(--square-size-tablet)),0px);
	    transition: transform 1s;
	}
	.gamePiece-wrapper.right-5.piece-moving-appear {
	    transform: translate(calc(-5 * var(--square-size-tablet)),0px);
	    transition: transform 1s;
	}
	.gamePiece-wrapper.right-6.piece-moving-appear {
	    transform: translate(calc(-6 * var(--square-size-tablet)),0px);
	    transition: transform 1s;
	}
	.gamePiece-wrapper.right-7.piece-moving-appear {
	    transform: translate(calc(-7 * var(--square-size-tablet)),0px);
	    transition: transform 1s;
	}
	.gamePiece-wrapper.right-8.piece-moving-appear {
	    transform: translate(calc(-8 * var(--square-size-tablet)),0px);
	    transition: transform 1s;
	}
	.gamePiece-wrapper.right-9.piece-moving-appear {
	    transform: translate(calc(-9 * var(--square-size-tablet)),0px);
	    transition: transform 1s;
	}
	.gamePiece-wrapper.left-1.piece-moving-appear {
	    transform: translate(calc(1 * var(--square-size-tablet)),0px);
	    transition: transform 1s;
	}
	.gamePiece-wrapper.left-2.piece-moving-appear {
	    transform: translate(calc(2 * var(--square-size-tablet)),0px);
	    transition: transform 1s;
	}
	.gamePiece-wrapper.left-3.piece-moving-appear {
	    transform: translate(calc(3 * var(--square-size-tablet)),0px);
	    transition: transform 1s;
	}
	.gamePiece-wrapper.left-4.piece-moving-appear {
	    transform: translate(calc(4 * var(--square-size-tablet)),0px);
	    transition: transform 1s;
	}
	.gamePiece-wrapper.left-5.piece-moving-appear {
	    transform: translate(calc(5 * var(--square-size-tablet)),0px);
	    transition: transform 1s;
	}
	.gamePiece-wrapper.left-6.piece-moving-appear {
	    transform: translate(calc(6 * var(--square-size-tablet)),0px);
	    transition: transform 1s;
	}
	.gamePiece-wrapper.left-7.piece-moving-appear {
	    transform: translate(calc(7 * var(--square-size-tablet)),0px);
	    transition: transform 1s;
	}
	.gamePiece-wrapper.left-8.piece-moving-appear {
	    transform: translate(calc(8 * var(--square-size-tablet)),0px);
	    transition: transform 1s;
	}
	.gamePiece-wrapper.left-9.piece-moving-appear {
	    transform: translate(calc(9 * var(--square-size-tablet)),0px);
	    transition: transform 1s;
	}
}

.gamePiece-wrapper.piece-moving-enter-done.no-drag.piece-moving-appear-done {
    transform: translate(0px,0px);
    transition: transform 1s;
}

