// Layout tile graphics
.gameSpace {
	background-image: url(../img/tiles/sand.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#gameSpace-1 {
	background-image: url(../img/tiles/top-left-corner.png);	
}
#gameSpace-12,
#gameSpace-19,
#gameSpace-26,
#gameSpace-72,
#gameSpace-78,
#gameSpace-86 {
	background-image: url(../img/tiles/sand-2.png);
}
#gameSpace-14,
#gameSpace-89 {
	background-image: url(../img/tiles/sand-3.png);
}
#gameSpace-2,
#gameSpace-3, 
#gameSpace-4, 
#gameSpace-5, 
#gameSpace-6, 
#gameSpace-7, 
#gameSpace-8, 
#gameSpace-9 {
	background-image: url(../img/tiles/top-row.png);	
} 
#gameSpace-10 {
	background-image: url(../img/tiles/top-right-corner.png);
}
#gameSpace-11, 
#gameSpace-21, 
#gameSpace-31, 
#gameSpace-41, 
#gameSpace-51, 
#gameSpace-61, 
#gameSpace-71, 
#gameSpace-81 {
	background-image: url(../img/tiles/left-row.png);
}
#gameSpace-32, #gameSpace-36 {
	background-image: url(../img/tiles/top-left-edge.png);
}
#gameSpace-33, #gameSpace-34, #gameSpace-37, #gameSpace-38 {
	background-image: url(../img/tiles/top-edge.png);
}
#gameSpace-35, #gameSpace-39 {
	background-image: url(../img/tiles/top-right-edge.png);
}
#gameSpace-42, #gameSpace-52, #gameSpace-46, #gameSpace-56 {
	background-image: url(../img/tiles/left-edge.png);
}
#gameSpace-45, #gameSpace-55, #gameSpace-49, #gameSpace-59 {
	background-image: url(../img/tiles/right-edge.png);
}
#gameSpace-62, #gameSpace-66 {
	background-image: url(../img/tiles/bottom-left-edge.png);
}
#gameSpace-63, #gameSpace-64, #gameSpace-67, #gameSpace-68 {
	border-top-color: var(--unpassable);
	border-top-style: solid;
	background-image: url(../img/tiles/bottom-edge.png);
}
#gameSpace-65, #gameSpace-69 {
	background-image: url(../img/tiles/bottom-right-edge.png);
}
#gameSpace-91 {
	background-image: url(../img/tiles/bottom-left-corner.png);	
}
#gameSpace-20, 
#gameSpace-30, 
#gameSpace-40, 
#gameSpace-50, 
#gameSpace-60, 
#gameSpace-70, 
#gameSpace-80, 
#gameSpace-90 {
	background-image: url(../img/tiles/right-row.png);
}
#gameSpace-92,
#gameSpace-93, 
#gameSpace-94, 
#gameSpace-95, 
#gameSpace-96, 
#gameSpace-97, 
#gameSpace-98, 
#gameSpace-99 {
	background-image: url(../img/tiles/bottom-row.png);	
} 
#gameSpace-100 {
	background-image: url(../img/tiles/bottom-right-corner.png);
}
#gameSpace-44, #gameSpace-48, #gameSpace-54, #gameSpace-58 {
	border-left-width: 0;
}
#gameSpace-53, #gameSpace-54, #gameSpace-57, #gameSpace-58 {
	border-top-width: 0;
}
#top-border .gameSpace {
	background-image: url(../img/tiles/top-coast.png);
}
#bottom-border .gameSpace {
	background-image: url(../img/tiles/bottom-coast.png);
}
.gameSpace.left-border {
	background-image: url(../img/tiles/left-coast.png);
}
.gameSpace.right-border {
	background-image: url(../img/tiles/right-coast.png);
}

#top-border .gameSpace#top-border-1 {
	background-image: url(../img/tiles/top-left-coast.png);
}
#top-border .gameSpace#top-border-12 {
	background-image: url(../img/tiles/top-right-coast.png);
}
#bottom-border .gameSpace#bottom-border-1 {
	background-image: url(../img/tiles/bottom-left-coast.png);
}
#bottom-border .gameSpace#bottom-border-12 {
	background-image: url(../img/tiles/bottom-right-coast.png);
}

.gameSpace:not(.borderSpace):not(.passable) {
	background-color: var(--water);
	background-image: unset;
	border-color: var(--unpassable);
	border-left-style: solid;
	border-top-style: solid;
}
.gameSpace-wrapper:not(.passable) + .gameSpace-wrapper.passable > .gameSpace {
	border-left-color: var(--unpassable);
	border-left-style: solid;
}
.gameSpace:not(.borderSpace):not(.passable)#gameSpace-44,
.gameSpace:not(.borderSpace):not(.passable)#gameSpace-58 {
	background-image: url(../img/tiles/water-rocks.png);
}
.gameSpace:not(.borderSpace):not(.passable)#gameSpace-54,
.gameSpace:not(.borderSpace):not(.passable)#gameSpace-48 {
	background-image: url(../img/tiles/water-ripple.png);
}
.gameSpace:not(.borderSpace):not(.passable)#gameSpace-43,
.gameSpace:not(.borderSpace):not(.passable)#gameSpace-57 {
	background-image: url(../img/tiles/water-deep.png);
}
.gameSpace.borderSpace {
	border: none !important;
}